<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOGLVL_TIMA">info</Property>
        <Property name="LOGLVL_SPRING">info</Property>
        <Property name="LOGLVL_ROOT">info</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="tim.al6ert5" level="${env:LOGLVL_TIMA}" />
        <Logger name="org.springframework" level="${env:LOGLVL_SPRING}" />
        <Root level="${env:LOGLVL_ROOT}">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>